$purplePrimary: #673ab7;
$purpleSecondary: #8561c5;
$black: #333;
$grey: #96939b;
$white: #fff;

:export {
  purplePrimary: $purplePrimary;
  purpleSecondary: $purpleSecondary;
  black: $black;
  grey: $grey;
  white: $white;
}
